
    <!-- Start of Product Details -->
    <div class="container">
      <div class="row">
          <div class="col-6 product-item">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img class="d-block w-100" src="assets/theme/images/i-00000028605-1.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="assets/theme/images/i-00000030782-1.jpg" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="assets/theme/images/I-00000031421-R-1.jpg" alt="Third slide">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-6 product-item">
              <h3>take the risk</h3>
              <div class="product-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span>(550)</span>
              </div>
              <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
              <br/><br/>
              <h5>take the risk</h5>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eum repellat doloribus explicabo minima atque, ut aspernatur dignissimos beatae harum nihil velit quo molestias? Minima pariatur temporibus at veniam harum!</p>
              <nav aria-label="..." class="d-inline-block">
                  <ul class="pagination pagination-md">
                      <li class="page-item ">
                          <a class="page-link" href="#" tabindex="-1">-</a>
                      </li>
                      <li class="page-item disabled" ><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">+</a></li>
                  </ul>
              </nav>
              <button class="btn btn-primary btn-md">Add to Cart</button>
              <div class="product-details__meta">
                      Categories: <a rel="tag" href="#">History</a>,<a rel="tag" href="#">take the risk</a>.
              </div>
          </div>
      </div>
  </div>
  <!-- End of Product Details -->
    <!-- Start of Product Description -->
    <div class="product-description">
      <div class="container">
          <div class="row">
              <div class="col">
                  <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                              role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                              role="tab" aria-controls="nav-profile" aria-selected="false">Additional Information</a>
                          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                              role="tab" aria-controls="nav-contact" aria-selected="false">Reviews(3)</a>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.<br/><br/>
                          Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud. </p></div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad.</p></div>
                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus, tenetur impedit accusantium ratione labore, aliquam ea neque consequatur aut dolor maiores unde ipsum corrupti et dolorem. Rem, ad culpa
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolores quod facilis labore magnam, pariatur repudiandae optio sapiente dignissimos vitae itaque tenetur esse dicta ratione laudantium dolore modi incidunt. Facere!
                          </p></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End of Product Description -->


  <!-- START OF MOST RECOMMENDED SECTION -->
  <div class="recommended ">
      <div class="container">
              <h3 > Related Items </h3>
          <div class="row">
              <div class="col product-img">
                  <div class="card" style="width: 13rem;">
                      <img class="card-img-top" src="assets/theme/images/I-00000031421-R-1.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5> book title </h5>
                          <p class="card-text">Some quick example text to build on the card</p>
                          <div class="product-review">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star-half-alt"></i>
                              <span>(550)</span>
                          </div>
                          <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
                      </div>
                  </div>
              </div>
              <div class="col product-img">
                      <div class="card" style="width: 13rem;">
                          <img class="card-img-top" src="assets/theme/images/i-00000032603-2.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5> book title </h5>
                              <p class="card-text">Some quick example text to build on the card</p>
                              <div class="product-review">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span>(550)</span>
                              </div>
                              <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
                          </div>
                      </div>
              </div>
              <div class="col product-img">
                      <div class="card" style="width: 13rem;">
                          <img class="card-img-top" src="assets/theme/images/i-00000034467-1.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5> book title </h5>
                              <p class="card-text">Some quick example text to build on the card</p>
                              <div class="product-review">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span>(550)</span>
                              </div>
                              <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
                          </div>
                      </div>
              </div>
              <div class="col product-img">
                      <div class="card" style="width: 13rem;">
                          <img class="card-img-top" src="assets/theme/images/I-00000034629-1.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5> book title </h5>
                              <p class="card-text">Some quick example text to build on the card</p>
                              <div class="product-review">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span>(550)</span>
                              </div>
                              <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
                          </div>
                      </div>
              </div>
              <div class="col product-img">
                      <div class="card" style="width: 13rem;">
                          <img class="card-img-top" src="assets/theme/images/I-00000035033-1.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5> book title </h5>
                              <p class="card-text">Some quick example text to build on the card</p>
                              <div class="product-review">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span>(550)</span>
                              </div>
                              <h6> 70.50 <span>EGP</span> <del class="deleted">115.50 <span>EGP</span></del> </h6>
                          </div>
                      </div>
              </div>
          </div>
      </div>
      <hr style="margin-top: 40px; ">
  </div>
  <!-- END OF MOST RECOMMENDED SECTION -->
