

<div class="row">
  <div class="col-md-6 product-card mb-3" *ngFor='let product of productFilteredList '>
    <div class="card" style="">
      <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 >{{product.name}}</h5>
        <app-star-rating [starRating]="product.rating" ></app-star-rating>
        <h6> {{product.price | currency: 'USD'}}<del class=" ml-5 deleted">{{1105.50 | currency: 'USD'}}</del> </h6>
      </div>
    </div>
  </div>
</div>