

<!-- <div class="row">
  <div class="col-md-6 product-card mb-3" *ngFor='let product of productFilteredList '>
    <div class="card" style="">
      <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 >{{product.name}}</h5>
        <app-star-rating [starRating]="product.rating" ></app-star-rating>
        <h6> {{product.price | currency: 'USD'}}<del class=" ml-5 deleted">{{1105.50 | currency: 'USD'}}</del> </h6>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/3otor.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/i-00000028605-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/i-00000018837-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/orl-00001796-r1_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/i-00000018837-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/ORL-00001842-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/i-00000028605-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/ORL-00001988-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/3otor.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/ORL-00002028-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/ORL-00001979-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>
  <div class="col-md-3 product-card mb-3">
    <div class="card">
      <img class="img-fluid" src="assets/theme/images/i-00000018837-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 >Product Name</h5>
        <h6>500 USD<del class=" ml-5 deleted">550 USD</del> </h6>
      </div>
    </div>
  </div>

</div>
