

<div class="row">
  <div class="card-header w-100 mb-3">
    Number Of Products <strong>{{totalproducts}}</strong>
  </div>
</div>
<div class="row">
  <div *ngFor="let product of products " class="col-md-3 product-card mb-3">
    <div class="card" [routerLink]="['/products', product.id]"
    routerLinkActive="router-link-active">
      <img class="img-fluid" [src]="product.src" alt="Card image cap">
      <div class="card-body">
        <h5>{{product.name}}</h5>
        <h6> {{product.price | currency: 'USD'}}<del class=" ml-5 deleted">{{product.price_before | currency: 'USD'}}</del> </h6>
      </div>
    </div>
  </div>
</div>
